{# templates/commande/most_ordered_services.html.twig #}

{% extends 'baseDou.html.twig' %}

{% block title %}Most Ordered Services{% endblock %}

{% block mainnn %}

    <div>
        <canvas id="mostOrderedServicesChart"></canvas>
    </div><script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const chartData = {{ mostOrderedServices | json_encode | raw }};
            const ctx = document.getElementById('mostOrderedServicesChart').getContext('2d');

            new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: chartData.map(data => data.service_name),
                    datasets: [{
                        label: 'Most Ordered Services',
                        data: chartData.map(data => data.orders_count),
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(255, 99, 132, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(255, 99, 132, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
        });
    </script>
{% endblock %}

